{% if Emprestimo %}
    <table border="1px solid black" >
    {% for i in Emprestimo %}
        <tr>
            <td>Autor</td>
            <td>Editora</td>
            <td>Pagina</td>
            <td>Idioma</td>
            <td>Imagem</td>

        </tr>
        <tr>
            <td>{{i.autor.autor}}</td>
            <td>{{i.autor.editora}}</td>
            <td>{{i.autor.paginas}}</td>
            <td>{{i.autor.idioma}}</td>
            <td><img src="{{i.autor.imagem}}" alt=""></td>
        </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No polls are available.</p>
{% endif %}